[alias]
	st = status
	br = branch
	co = checkout
	lg = log --oneline --all --graph -100
	hs = log --graph --all --pretty=format:'%C(Yellow)%h %C(reset)%ad %C(auto)%d %C(Cyan)%an: %C(reset)%s' --date=short
